{% extends 'base.html.twig' %}

{% block title %}Hello PostsController!
{% endblock %}

{% block body %}

	<h1 class="text-center mt-3">Stackunderflow</h1>
	<div class="container p-5">
		<h2 class="text-center">Posts</h2>

		<div>
			{%for item in questionData%}

				<div class="border border-secondary border-3 rounded-3 my-4 shadow">
					<h4 class="alert alert-dark">

						<a href="{{path('app_post', {id: item.id}) }}">Question:
							{{item.question}}</a>

					</h4>
				
					<img class="rounded-circle position-relative bottom-0 start-50 translate-middle-x" alt="0x0" style="width: 75px ; height:75px" src="{{item.userRel.avatar}}"></img>
					
					
						<p class="text-center">From:
							{{item.userRel.username}}</p>
						<p>Current thread state: {{item.state}}</p>
					
				</div>
			{%endfor%}
		</div>

		<div class="form-control">
			<h2 class="text-center">Have a question?</h2>
			{{ form_start(PostForm) }}
			{{ form_row(PostForm.question, {
			label: 'Your question :   '
		})}}
			<button type="submit" class="btn btn-dark position-relative">Send</button>
			{{ form_end(PostForm) }}
		</div>
	</div>
	{% endblock %}
