{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
	<h1 class="text-center">Home</h1>
	<div class="container p-5">
		<div class="border border-secondary border-3 rounded-3 my-4 shadow">
			<h2 class="alert alert-dark text-center">Question from our member {{questionData.userRel.username}}</h2>

			<h3>{{questionData.question}}</h3>

			<p>Current thread state: {{questionData.state}}</p>
			<h2 class="alert alert-dark text-center">Answers</h2>
			{%for item in Comments%}
				<h3>
					{{item.content}}</h3>
				<p>From :
					{{item.RelUser.username}}</p>
				<p>
					<a href="{{path('app_vote', {id: item.RelPosts.id, ID: item.id}) }}">Vote</a>
				</p>
				<p>Reputation:{{item.reputation}}</p>

				{%endfor%}
				{% if CommentForm %}
					<h3>Give an answer</h3>
					{{ form_start(CommentForm) }}
					{{ form_row(CommentForm.content, {
			label: 'Insert knowledge here :   '
		})}}
					<button type="submit" class="btn btn-dark position-relative top-100 start-50 translate-middle mt-1 bi bi-caret-down-fill">Send</button>
					{{ form_end(CommentForm) }}
				{% endif %}
				{% if not CommentForm %}
					<h2>This post is closed, and does not accept answers anymore</h2>
				{% endif %}
			</div>
		</div>
	{% endblock %}
