{% extends 'base.html.twig' %}

{% block title %}
    
{% endblock %}

{% block body %}
 <div class="container">
	<p>Register</p>

	{{ form_start(registrationForm) }}
	<h2 class="">
		{{ form_row(registrationForm.username) }}</h2>
	{{ form_row(registrationForm.plainPassword, 
        {label: 'Password'}) }}
	<button type="submit" class="btn btn-dark position-relative">Register</button>
	{{ form_end(registrationForm) }}
</div>    
{% endblock %}
