{% extends 'base.html.twig' %}

{% block title %}My Posts
{% endblock %}

{% block body %}

	<h1 class="text-center">My Posts</h1>
	<div class="container">

		<ul>
			{%for item in myposts%}
				<div class="border border-secondary border-3 rounded-3 my-4 shadow">
					<h3>
						<a href="{{path('app_post', {id: item.id}) }}">Question:
							{{item.question}}</a>
					</h3>
					<p>Tread state:{{item.state}}</p>
					<p>
						<a href="{{path('app_deletepost', {id: item.id})}}">delete</a>
					</p>
				</div>
				{%endfor%}
			</ul>

		</div>
	{% endblock %}
