<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar justify-content-center navbar-light bg-light shadow" >
            <div class="nav position-relative  gap-4">
                <a class="nav-link" href="{{ path('app_posts') }}">Home</a>
                <a class="nav-link" href="{{ path('app_user') }}">Profil</a>
            </div>
            <div class="nav position-relative  gap-4">
                {% if app.user %}
                    <a class="nav-link" href="{{ path('app_logout') }}">Log out</a>
                {% endif %}
                {% if not app.user %}
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                {% endif %}
            </div>      
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
