{% extends 'base.html.twig' %}

{% block title %}Profil Page
{% endblock %}

{% block body %}
    <h1 class="text-center">Profile Page</h1>
	<div class="container ">
		<div class="border border-secondary border-3 rounded-3 gap-3">
			<div class="row row-cols-auto p-3">
				{% if app.user %}
					<div class="col-sm-auto text-center">
						<p class="text-center">Avatar</p>

						<img class="rounded-circle" alt="30x30" style="width: 30%" src="{{app.user.avatar}}"></img>
				</div>
				<div class="col-sm-auto">
					<p>username:
						{{ app.user.username }}</p>
					<p>email:
						{{ app.user.email }}</p>
					<p>firstname:
						{{ app.user.firstname }}</p>
					<p>lastname:
						{{ app.user.lastname }}</p>
					<p>If you wish to change your information:
						<a href="{{ path('update_user') }}">click here</a>
					</p>
					<h3>
						<a href="{{path('app_myposts')}}">See all my posts</a>
					</h3>
				</div>
			{% endif %}


		</div>
	</div>
</div>{% endblock %}
