{% extends 'base.html.twig' %}

{% block title %}Profil Page{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.user %}
        <h1>Update your Password {{app.user.username}}</h1>
        <p>{{message}}</p>
    {{ form_start(UpdatePassword) }}
        {{ form_row(UpdatePassword.newplainPassword, {
            label: 'new password',
        }) }}
        {{ form_row(UpdatePassword.oldplainPassword, {
            label: 'old password',
        }) }}
        <button type="submit" class="btn">Save</button>
    {{ form_end(UpdatePassword) }}
    {% endif %}
</div>
{% endblock %}