{% extends 'base.html.twig' %}

{% block title %}Profil Page{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if app.user %}
        <h1>Update your information {{app.user.username}}</h1>

    {{ form_start(UpdateForm) }}
        {{ form_row(UpdateForm.avatar, {
            label: 'link to avatar (bound to update)'
        }) }}
        {{ form_row(UpdateForm.username, {
            value: app.user.username
        }) }}
        {{ form_row(UpdateForm.firstname, {
            value: app.user.firstname
        }) }}
        {{ form_row(UpdateForm.lastname, {
            value: app.user.lastname
        }) }}
        {{ form_row(UpdateForm.email, {
            value: app.user.email
        }) }}
        <button type="submit" class="btn">Save</button>
    {{ form_end(UpdateForm) }}
    <a href="{{ path('update_password') }}">change password</a>
    {% endif %}
</div>
{% endblock %}